* {
    box-sizing: border-box;
}
@font-face {
    font-family: 'Fre1';
    src: url("../fonts/Freesentation-1Thin.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fre3';
    src: url("../fonts/Freesentation-3Light.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fre5';
    src: url("../fonts/Freesentation-5Medium.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fre9';
    src: url("../fonts/Freesentation-9Black.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    position: relative;
    visibility: hidden;
}

.container{
    width: 1440px;
    height: 900px;
    flex-shrink: 0;
    aspect-ratio: 3/2;
    background: url("../img/back.jpg") no-repeat center center;
    background-size: cover;
    background-color: #000000;
    transform-origin: top left;
    position: absolute;
    transform: scale(0);
    font-family: 'Fre3';
    color:#7078A7;
}

.container,
body,
html {
    transition: background-color 1s ease-in-out;
}


main {
    position: absolute;
    top: 182px;
    left: 414px;
    width: 926px;
    height: 667px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 5px solid #7078A7;
    background: rgba(255, 255, 255, 0.70);
    overflow-y: auto;
}

.page-container, 
.gallery-container, .form-page-container, .view-container, 
.password-form-container, .settings-container{
    margin: 80px;
    color: #7078A7;
    font-family: 'Fre3';
    font-size: 20px;
    font-style: normal;
    line-height: normal;
}

main::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.post-view-container {
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
    color: #333;
}

.post-view-container h1 {
    text-align: center;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.post-meta {
    text-align: right;
    margin-bottom: 15px;
}

.btn-action {
    display: inline-block;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    color: #7078A7;
    background-color: white;
    transition: background-color 0.2s;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    font-family: 'Fre5';
    border-radius: 10px;
    text-decoration-line: none;
}

.btn-action.btn-delete, .btn-action.delete-btn {
    background-color: #7078A7;
    color: white;
}

.view-container hr {
    border: none;
    border-top: 3px solid #7078A7;
}

.post-date {
    text-align: right;
    color: #7078A7;
    font-size: 14px;
    margin-bottom: 25px;
}

.post-content {
    line-height: 1.8;
    min-height: 250px;
}

.post-content img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.post-actions {
    text-align: center;
    margin-top: 40px;
}

.btn-back-to-list {
    display: inline-block;
    padding: 12px 35px;
    background-color: #7078A7;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.2s;
}


.index_panel1{
    position: absolute;
    top: 123px;
    left: 548px;
    width: 190px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 30px 30px 0 0;
    background: #B1C8DA;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    transform-origin: bottom;
}
.index_panel2{
    position: absolute;
    top: 123px;
    left: 828px;
    width: 190px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 30px 30px 0 0;
    background: #FFF;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    transform-origin: bottom;
}

.index_panel2.playing {
    transform: scaleY(1.2);
}
.index_panel3{
    position: absolute;
    top: 111px;
    left: 1108px;
    width: 190px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 30px 30px 0 0;
    background: #7078A7;
}


.dday{
    position: absolute;
    top: 20px;
    left: 53px;
    color: #FFF;
    text-align: center;
    font-family: 'Fre9';
    font-size: 32px;
    font-style: normal;
    line-height: normal;
}


.chanlan_nav1{
    position: absolute;
    top: 250px;
    left: 1338px;
    width: 65px;
    height: 80px;
    flex-shrink: 0; 
    border-radius: 0 30px 30px 0;
    background: #FFF;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    transform-origin: left;
}

.chanlan_nav1:hover{
    transform: scaleX(1.1);
}

.chanlan_nav2{
    position: absolute;
    top: 380px;
    left: 1338px;
    width: 65px;
    height: 80px;
    flex-shrink: 0; 
    border-radius: 0 30px 30px 0;
    background: #B1C8DA;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    transform-origin: left;
}

.chanlan_nav2:hover{
    transform: scaleX(1.1);
}

.chanlan_nav3{
    position: absolute;
    top: 510px;
    left: 1338px;
    width: 65px;
    height: 80px;
    flex-shrink: 0; 
    border-radius: 0 30px 30px 0;
    background: #7078A7;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    transform-origin: left;
}

.chanlan_nav3:hover{
    transform: scaleX(1.1);
}


.gallery_nav{
    position: absolute;
    top: 250px;
    left: 1338px;
    width: 65px;
    height: 80px;
    flex-shrink: 0; 
    border-radius: 0 30px 30px 0;
    background: #FFF;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    transform-origin: left;
}

.gallery_nav:hover{
    transform: scaleX(1.1);
}

.trpg_nav{
    position: absolute;
    top: 380px;
    left: 1338px;
    width: 65px;
    height: 80px;
    flex-shrink: 0; 
    border-radius: 0 30px 30px 0;
    background: #B1C8DA;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    transform-origin: left;
}

.trpg_nav:hover{
    transform: scaleX(1.1);
}



/*갤러리ㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣ*/

.gallery-container > h2{
    font-family: 'Fre9';
}

.gallery-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 70px;
}

.gallery-item {
    text-decoration: none;
    color: #333;
    border-radius: 15px;
    overflow: hidden;
}


.item-thumbnail {
    width: 100%;
    padding-top: 100%;
    background-color:#B1C8DA;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.gallery-item h3 {
    padding: 10px;
    font-size: 16px;
    margin: 0;
    color: #7078A7;
}


.form-page-container {
    max-width: 800px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

/*티알///////////////////////////////////*/
.timeline-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.timeline-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 50px;
}

.timeline-wrapper::-webkit-scrollbar {
    display: none;
}

.timeline-events {
    min-width: 750px;
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding: 0 50px; 
    position: relative;
    z-index: 2;
    gap: 100px;
}

.timeline-line {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #7078A7;
    top: 50%;
    left: 0;
    z-index: 1;
}

.timeline-item {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 150px;
}

.timeline-item.top {
    justify-content: flex-end;
    padding-bottom: 230px;
}

.timeline-item.bottom {
    justify-content: flex-start;
    padding-top: 320px;
}

.timeline-item a {
    text-decoration: none;
    color:#7078A7;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.timeline-item .item-thumbnail {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    border-radius: 15px;
    background-color: #7078A750;
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
}

.item-text h3 {
    font-size: 14px;
    margin: 0;
    max-width: 150px;
    white-space: normal;
    word-break: keep-all;
}

.timeline-container > .add-btn{
    position: absolute;
    left: 770px;
    top: 50px;
    z-index: 50;
}

/*/////////////////////ㅂㅂㅂ버튼*/


.edit-btn, .add-btn{
    background-color:#7078A7;
    color: white;
    font-family: 'Fre5';
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    text-decoration-line: none;
}

.ajax-form > button{
    background-color:white;
    color: #7078A7;
    font-family: 'Fre5';
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    text-decoration-line: none;
    margin-right: 10px;
}
.cancel_btn, .cancel-btn{
    background-color:#7078A7;
    color: white;
    font-family: 'Fre5';
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    text-decoration-line: none;
}


.file-upload-button {
    display: inline-block;
    background-color: #7078A7;
    color: white;
    font-family: 'Fre5';
    padding: 8px 16px;
    font-size: 12px;
    border: none;
    border-radius: 10px;
    text-decoration-line: none;
    cursor: pointer;
    width: 72px;
}  




.note-modal-backdrop {
    background-color: transparent !important;
    z-index: -1 !important
}


/*로그인ㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴ*/

.login-form{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.login-form > form{
    display: flex;
    gap: 26px;
    flex-direction: column;
    margin-top: 162px;
    align-items: center;
}

.login-form > form> input{
    color: #7078A7;
    width: 399px;
    height: 90px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 3px solid #7078A7;
    background: rgba(255, 255, 255, 0.30);
    text-align: center;
}

.login-form > form > button{
    color: #7078A7;
    width: 252px;
    height: 68px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 3px solid #7078A7;
    background: rgba(255, 255, 255, 0.30);
    margin-top: 13px;
}

.password_content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -65%);
    text-align: center;
}

.password_content > form> input{
    color: #7078A7;
    width: 399px;
    height: 90px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 3px solid #7078A7;
    background: rgba(255, 255, 255, 0.30);
    text-align: center;
    align-items: center;
    margin-top: 20px;
}

.password_content > form > button{
    color: #7078A7;
    width: 252px;
    height: 68px;
    flex-shrink: 0;
    align-items: center;
    border-radius: 30px;
    border: 3px solid #7078A7;
    background: rgba(255, 255, 255, 0.30);
    margin-top: 13px;
}




/*메신저ㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓ*/
#chat-overlay {
    position: absolute;
    top: 224px;
    left: 632px;
    width: 490px;
    height: 676px;
    flex-shrink: 0;
    border-radius: 30px 30px 0 0;
    background: #111948;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

#chat-overlay .chat-header {
    cursor: pointer;
}

.chat-container {
    position: absolute;
    top: 9.25px;
    left: 10px;
    width: 470px;
    height: 666.752px;
    flex-shrink: 0;
    border-radius: 26px 26px 0 0;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.80) 100%), url('../img/phone_back.png') no-repeat center center;
    background-size: cover;
    font-family: 'Fre3';
}


.chat-window {
    width: 470px;
    height: 617px;
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
}

.chat-window::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

.chat-header{
    height: 30px;
}

.message-row {
    display: flex;
    margin-bottom: 15px;
    max-width: 70%;
    align-items: flex-start;
}
.message-row.sent {
    margin-left: auto;
    flex-direction: row-reverse;
}
.message-row.received {
    margin-right: auto;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    background-size: cover;
    background-position: center;
    margin: 0 10px;
}

.profile-pic.hyun { background-image: url('../img/default_chat_bg.png'); }
.profile-pic.chan { background-image: url('../img/default_hyun_bg.png'); }

.message-bubble {
    padding: 10px 15px;
    border-radius: 18px;
    position: relative;
}
.message-row.sent .message-bubble {
    background: #7078A7;
    color: white;
    border-top-right-radius: 5px;
}
.message-row.received .message-bubble {
    background: #e9e9eb;
    color: #333;
    border-top-left-radius: 5px;
}

.character-name {
    font-size: 12px;
    font-family: 'Fre5';
    margin-bottom: 5px;
    color: #888;
}
.message-row.sent .character-name {
    color: #f0f0f0;
}
.message-text {
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.chat-input-area {
    padding-top: 10px;
}

.chat-input-area > form > select,
.chat-input-area input::placeholder{
    color: #7078A7;
}

.chat-input-area form {
    display: flex;
}
.chat-input-area select {
    padding: 10px;
    border: 1px solid #cccccc00;
    border-top: 1px solid #7078A7;
    border-right: 1px solid #7078A7;
}
.chat-input-area input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #cccccc00;
    border-top: 1px solid #7078A7;
    border-left: none;
}
.chat-input-area button {
    padding: 10px 15px;
    border: none;
    border-top: 1px solid #7078A7;
    background: #7078A7;
    color: white;
    cursor: pointer;
}


.settings-container > form > button{
    background-color:#7078A7;
    color: white;
    font-family: 'Fre5';
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    text-decoration-line: none;
}


.settings-container > form > input#file-upload-button {
    display: inline-block;
    background-color: #7078A7;
    color: white;
    font-family: 'Fre5';
    padding: 8px 16px;
    font-size: 12px;
    border: none;
    border-radius: 10px;
    text-decoration-line: none;
    cursor: pointer;
    width: 72px;
}  


.mobile_header, .mobile_nav{
    display: none;
}


